.navbar {   
  background: rgb(255,48,164);
  background: radial-gradient(circle, rgba(255,48,164,0.9389005602240896) 0%, rgba(188,0,143,1) 80%);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height:110px;
    margin-top:0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .navbar-logo img {
    height: 60px;
    margin: 30px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1em;
  }
  
  .navbar-links a:hover {
    color: #d2691e;
  }
  