.footer {
    background-color: #f8f8f8;
    padding: 20px 40px;
    text-align: left;
    color: black;
    background: rgb(255,48,164);
    background: radial-gradient(circle, rgba(255,48,164,0.9389005602240896) 0%, rgba(188,0,143,1) 80%);
    font-size: 25px;
    background-size:cover ;
    margin-top:40px;
    height:350px;
    font-weight:400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-section {
    margin: 10px;
  }
 
  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .footer-section p,
  .footer-section a {
    margin: 5px 0;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
  }
  
  .social-links li {
    display: inline;
    margin: 0 5px;
  }
  
  .social-links img {
    width: 24px;
    height: 24px;
  }
  .link-name{
    text-decoration: none;
    color:black;
    font-size: 25px;
    margin:20px 20px;
    font-weight: 500;
  }
  .footer-bottom {
    margin-top: 20px;
    font-size: 0.9em;
    color: #383737;
    text-align: center;
    font-weight:500;
  }
  